name: CI
on:
    push:
        branches:
            - main

jobs:
    ghcjs:
        name: GHC Javascript Job
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4
        # We follow the instructions from: https://www.haskell.org/ghcup/guide/#cross-support
        - name: Install emscripten
          uses: mymindstorm/setup-emsdk@v14
        - name: Add GHCup release channel for crosscompiler
          run: ghcup config add-release-channel https://raw.githubusercontent.com/haskell/ghcup-metadata/develop/ghcup-cross-0.0.8.yaml
        - name: Install GHC cross compiler
          run: emconfigure ghcup install ghc --set javascript-unknown-ghcjs-9.6.2
        - name: Build project
          run: cabal build

